.btn{
    color: rgb(42, 136, 165);
    border-radius: 12px;
    border-width: 2px;
    background-color: #ecdb7c;
    font-size:35px;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    border-color:#ecdb7c;
}
.btn:hover{
    background: #8F7cec;
    color: #fff;
    border-radius: 15px;
  
  }
  body{
      background-image:linear-gradient(to right,rgb(84, 238, 225),rgb(0, 119, 255)) ;
  }